.skills-main-div {
  display: flex;
  overflow: hidden;
}

.skills-header {
  font-size: 60px;
  line-height: normal;
  font-family: "Google Sans Regular";
  text-align: center;
}
.skills-link {
  font-size: 40px;
  line-height: normal;
  font-family: "Google Sans Regular";
  margin-left: 10px;
  vertical-align: middle;
}

.skills-text {
  font-size: 20px;
}

.skills-text-div {
  margin-left: 50px;
  font-family: "Google Sans Regular";
}

.skills-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.skills-image-div > * {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.skills-heading {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Regular";
  line-height: normal;
}
.slider-container {
  position: relative;
  display: flex;
  align-items: center;
  border: 3px solid #ddd; /* 添加邊框 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加陰影 */
  border-radius: 10px; /* 圓角邊框 */
}

.imgsize {
  width: 900.75px;
  height: 600.37px;
  display: block;
  border-radius: 10px; /* 圓角邊框 */
}

.slider-arrow {
  cursor: pointer;
  background-color: #f8f8f8; /* 按鈕背景顏色 */
  border: none; /* 去除邊框 */
  border-radius: 50%; /* 圓形按鈕 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 按鈕陰影 */
  width: 40px; /* 按鈕寬度 */
  height: 40px; /* 按鈕高度 */
  display: flex; /* 使用 flexbox 進行布局 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  font-size: 24px; /* 文字大小 */
  font-weight: bold; /* 文字加粗 */
  color: #333; /* 文字顏色 */
  opacity: 0.7; /* 透明度 */
  transition: all 0.3s; /* 過渡效果 */
  z-index: 100; /* 確保按鈕在最上層 */
  font-weight: bold;
}

.slider-arrow:hover {
  background-color: #e0e0e0; /* 滑鼠懸停時的背景色 */
  opacity: 1; /* 滑鼠懸停時的透明度 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 滑鼠懸停時的陰影 */
}

.left-arrow {
  position: absolute;
  left: 10px; /* 左邊距 */
}

.right-arrow {
  position: absolute;
  right: 10px; /* 右邊距 */
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }
  .skills-header {
    font-size: 50px;
  }
  /* .skills-image-div > img {
    margin-top: 0px;
  } */
}
@media (max-width: 768px) {
  .skills-heading {
    font-size: 30px;
    text-align: center;
  }
  .skills-header {
    font-size: 30px;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .skills-main-div {
    flex-direction: column;
  }
  .skills-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .skills-text {
    font-size: 16px;
  }
  .skills-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .skills-image-div {
    /* display: none; */
    order: 2;
  }
  .skills-image-div > * {
    margin-top: 0px;
  }
}
